h1{
    text-align: center;
    color: purple;
    background-color: #E9ECEF;
}
h2{
    text-align: center;
    color: pink;
}

p{
    text-align: center;
}
h3{
    text-align: center;
    color: darkblue;

}
h5{
    color: rgb(110, 4, 110);
}
